<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="contao-member-jumpto-bundle test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
